<!DOCTYPE html SYSTEM 'about:legacy-compat'>
<html class='no-js' lang='en'xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <meta charset='utf-8'/>
  </head>
  <body OnLoad='OnLoadEvent();'> 
    <form action='/v2/3ds/mockchallenge' method='POST' id='threeD' name='threeD'>message_id: 
      <input type='area' id='message_id' name='message_id' value='AU-26757' />;creq: 
      <input type='area' id='creq'name='creq' value='ewogICAiYWNzVHJhbnNJRCIgOiAiMjZjZGI3ZjAtOTE0My00M2I0LTlhM2YtYWUwZWE1MzUyMzhjIiwKICA' />; "term_url: 
      <input type='area' id='term_url' name='term_url' value='https://cabutoshop.pythonanywhere.com/movil/threeds/' />;\n            
      <input type='submit' value='proceed to issuer'>
    </form>
    <script language='Javascript'>document.getElementById('threeD').submit(); </script>
  </body>
</html>
