<div class="seccion-retorno ">
  <div class="icono-retorno">
    <img src="../../../assets/img/atras_naranja.png" alt="">
  </div>
  <span>Chats</span>
</div>
<ion-content>
  <div class="fondo">
  </div>
    <div class="banner-opciones">

    </div>
    <div class="filtro-chats">
      <ion-button>Todas</ion-button>
      <ion-button>Nuevas</ion-button>
      <ion-button>Cerradas</ion-button>
    </div>
  
    <div class="chats">
      <div class="mensaje">
        <div class="avatar-foto">
          <img src="../../../assets/img/avatar.png" alt="">
        </div>
        <div class="detalles">
          <div class="nombre">
            <span>nombre</span>
            <span>(estado)</span>
            <span class="no-leido" >no-leido</span>
          </div>
          <div class="texto">
              hola como estas
          </div>
        </div>
      </div>
    </div>
  

</ion-content>