<ion-content>
  <div class="tituloDIv">
    <ion-label class="titulo">Verificar Tarjeta</ion-label>
  </div>
  <div  class="contenedor" >
    <div>
      Código de Verificación:
    </div>
    <div class="contenedor-searchbar">
      <ion-input placeholder="    1.23" type="number" id="numeroComprobar"></ion-input>
    </div>
    <ion-button class="btn-registro" id="guardarTarjeta" size="large" (click)="comprobar()" style="--background:{{colorBack}}">
      <p class="registro">Aceptar</p>
    </ion-button>
    <div class="descripcion">
      Ingrese el código de verificación que fue enviado vía sms o correo electrónico por los canales de su banco.
    </div>
  </div>
</ion-content>
