<ion-app style="--background: #2153FF !important;">
  <ion-menu (ionWillOpen)="abrirMenu()"  style="--background: #2153FF !important;" menuId="main-menu" side="start" contentId="principal"
    class="menu"  (ionClose)="closingNavCallback()">
    <div class="header-content">
      <img [src]="image ? image : '../assets/img/avatar.png'" alt="">
      <div class="fullname">
        <h2>{{name}}</h2>
        <h2>{{lastname}}</h2>
      </div>
    </div>
    <ion-menu-toggle auto-hide="true">
      <ion-item routerLink="/elegir-estab">Cambiar de Establecimiento</ion-item>
    </ion-menu-toggle>
    <ion-content style="--background: #2153FF !important;" #navChild>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/footer/perfil">Perfil</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/footer/producto">Productos</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/footer/ofertas">Ofertas</ion-item>
        </ion-menu-toggle>

        <ion-item lines="none" (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1">
          Beneficios y Premios
          <ion-img slot="end" [src]="isRemainder? 'https://cdn-icons-png.flaticon.com/512/467/467293.png' : 'https://cdn-icons-png.flaticon.com/512/467/467264.png'" class="imagen"></ion-img>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/footer/codigos']"
              menuClose class="sub-menu" class="listado">
              Códigos
            </ion-item>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/footer/cupones']"
              menuClose class="sub-menu" class="listado">
              Cupones
            </ion-item>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/footer/tarjetas-de-regalo']"
              menuClose class="sub-menu" class="listado">
              Tarjetas de Regalo
            </ion-item>
            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/footer/premios-inicio']"
              menuClose class="sub-menu" class="listado">
              Premios y Puntos
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/footer/info-tarjeta">Medios de Pago</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/footer/historial">Historial de Compras</ion-item>
        </ion-menu-toggle>
        <ion-item lines="none" (click)="isAtencion === 1 ? isAtencion = 0 : isAtencion = 1">
          Atención al Cliente
          <ion-img slot="end" [src]="isAtencion? 'https://cdn-icons-png.flaticon.com/512/467/467293.png' : 'https://cdn-icons-png.flaticon.com/512/467/467264.png'" class="imagen"></ion-img>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item menuclose [hidden]="!isAtencion" [routerLink]="['/footer/establecimiento']"
              menuClose class="sub-menu" class="listado">
              Locales
            </ion-item>
            <ion-item menuclose [hidden]="!isAtencion" [routerLink]="['/footer/sugerencia']"
              menuClose class="sub-menu" class="listado">
              Reclamos y Sugerencias
            </ion-item>
            <ion-item menuclose [hidden]="!isAtencion" [routerLink]="['/footer/politicas']"
              menuClose class="sub-menu" class="listado">
              Políticas de Privacidad
            </ion-item>
            <ion-item menuclose [hidden]="!isAtencion" [routerLink]="['/footer/contacto']"
              menuClose class="sub-menu" class="listado">
              Contáctanos
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/footer/mensajes">Chatea con Administrador </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <div class="social-media" style="background: #2153FF !important; ">
        <div class="facebook"><a href="https://www.facebook.com/cabutosmarket"><img
              src="../assets/img/facebook.png"></a></div>
        <div class="twitter"><a href="https://twitter.com/cabutos1?lang=es"><img src="../assets/img/twitter.png"></a>
        </div>
        <div class="instagram"><a href="https://www.instagram.com/cabutos/?hl=es-la"><img
              src="../assets/img/instagram.png"></a></div>
      </div>
      <ion-footer>
        <ion-menu-toggle auto-hide="true">
          <div class="sesion" (click)="initOrOut()">{{action}}</div>
        </ion-menu-toggle>
      </ion-footer>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>